body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Header Section */
header {
    background-color: rgb(180, 137, 219);
    color: blueviolet;
    padding: 10px 20px;   
}
header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap:20px;
}
header nav ul a {
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}
header nav ul a:hover {
    text-decoration: underline;
    color:white;
}
/* Hero Section */
.hero {
    background-color: rgb(202, 126, 187);
    color: rgb(3, 3, 88);
    text-align: center;
    padding: 100px 20px;
}
.hero-content h1 {
    font-size: 5rem;
}
.hero-content p {
    font-size: 3rem;
    margin: 20px 0;
}
.cta-button {
    background-color: rgb(3, 3, 88);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.cta-button:hover {
    background-color: rgb(225, 150, 168);
}
/* About Section */
.about {
    padding: 50px 20px;
    text-align: center;
    background-color: rgb(255, 150, 168);
}
h2{
    font-size: 3rem;

}
h3{
    font-size: 2.5rem;

}
p{
    font-size: 1.5rem;
    color:rgb(240, 186, 240);
}
/* Skills section */
.skills {
    padding: 50px 20px;
    text-align: center;
}
.skills h2 {
    font-size: 2.5rem;
}
.skill-list {
    display:flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap:wrap;
}
.skill-item {
    padding: 20px;
    background-color: rgb(136, 99, 170);
    border-radius: 10px;
    width: 25%;
}
/* Projects section */
.projects {
    padding: 50px 20px;
    text-align: center;
    background-color: rgb(39, 39, 236);
}
.projects h2 {
    font-size: 2.5rem;
}
.projects-list {
    display:flex;
    justify-content: space-around;
    gap: 15px;
    flex-wrap:wrap;
}
.project-item {
    padding: 20px;
    background-color:rgb(255, 150, 168);
    border-radius: 10px;
    width: 27%;
}
.project-item img{
    width: 100%;
}
/* Contact Section */
.contact {
    background-color: rgb(3, 3, 88);
    color: white;
    padding: 50px 20px;
    text-align: center;
}
.contact-container {
    display:flex;
    justify-content: space-between;
    gap:30px;
    flex-wrap: wrap;
}
.contact-info {
    width: 45%;

}
.contact-item{
    background-color: rgb(136, 99, 170);
    padding: 20px;
    border-radius: 10px;
    margin-bottom:15px;
    text-align:center;
}
.contact-item a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.contact-item a:hover {
    background-color: blueviolet;
    text-decoration: underline;
    color:rgb(19, 1, 35)
}
.contact-form {
    width: 45%;
    background-color: blueviolet;
    padding:20px;
    border-radius: 10px;
}
.contact-form input, .contact-form textarea{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border:none;
    border-radius: 5px;
    background-color: blueviolet;
    font-size: 1rem;
}
.contact-form button[type="submit"]{
    background-color: rgb(3, 3, 88);
    color:white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.contact-form button[type="submit"]:hover {
    background-color: rgb(255, 150, 168);
}
/* Footer */
footer {
    background-color: rgb(255, 150, 168);
    color: white;
    text-align: center;
    padding: 20px;
}
footer p{
    font-size: 1rem;
}
